@font-face {
    font-family: 'orbitron-black';
    src: url('Polices/orbitron-black.otf');
}

body {
    background-image: url("Images/fond1080.jpg");
    font-family: orbitron-black, sans-serif;
    font-size: 3em;
}

section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    color: #5ACCF2;
}

a {
    width: 400px;
    height: 150px;
    padding: auto;
    border-radius: 10px 50px 10px 50px;
    border: solid #5ACCF2 2px;
    color: #5ACCF2;
    margin: 15px;
    transition-property: box-shadow;
    transition-duration: 300ms;
}

a:hover {
    /*border: solid #5ACCF2 5px;
    margin: 11px;*/
    box-shadow: #5ACCF2 15px 6px 15px;
}
