@font-face {
    font-family: 'orbitron-black';
    src: url('Polices/orbitron-black.otf');
}

body {
    background-image: url("Images/fond1080.jpg");
    font-family: orbitron-black, sans-serif;
    font-size: 2em;
}

section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    color: #5ACCF2;
}

div {
    width: 420px;
    height: 200px;
    margin: auto;
    border: solid 1px; /* Bordures de test */
}

a {
    width: 400px;
    height: 150px;
    color: #5ACCF2;
    border-radius: 10px 50px 10px 50px;
    border: solid #5ACCF2 2px;
    margin: auto;
    padding-left: 20px;
    transition-property: box-shadow;
    transition-duration: 300ms;
}

a:hover {
    box-shadow: #5ACCF2 15px 6px 15px;
}
